<!--displaying teh title of the component-->

<app-title title="My Order" subtitle="View all your orders here"></app-title>


<!--the content of the component-->

<div class="Container">
    <ng-container *ngIf="transactions?.length > 0 else noTransactions">
        <div class="Delivery-Container flex" *ngFor="let transaction of transactions">
            <div class="Image">
                <img [src]="transaction.transaction_details[0].product.product_images[0].image" alt="">
            </div>
            <div class="Info">
                <div class="Product flex">
                    <div class="Product-Info">
                        <h3>Product</h3>
                        <p>{{ transaction.transaction_details[0].product.name }}</p>
                        <p>Transaction ID: INV-{{ transaction.id }}</p>
                    </div>
                </div>
                <div class="Users flex">
                    <!--<div class="Provider">
                        <h3>Provider</h3>
                        <p>Name : Kevin T</p>
                        <p>Address: Some City,Some street,some postal code, Some Address</p>
                    </div>-->
                    <div class="Customer">
                        <h3>Customer</h3>
                        <p>Name: {{ transaction.consumer.name }}</p>
                        <div class="customer-shipping-address">
                            <label>Address:</label>
                            <p>{{ transaction?.transaction_delivery.address.address }}</p>
                            <label>{{ transaction?.transaction_delivery.address.city + ', ' + transaction?.transaction_delivery.address.province }}</label>
                            <label>{{ transaction?.transaction_delivery.address.zipcode }}</label>
                        </div>
                    </div>
                </div>
                <a [routerLink]="['/delivery', transaction.id]" class="btn btn-primary-outline detail-btn">
                    See Delivery
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </ng-container>

    <ng-template #noTransactions>
        <div class="alert alert-primary">
            <p>
                You don't have any pending transactions to be done.
            </p>
        </div>
    </ng-template>
</div>
