<!--displaying the title of this page-->

<app-title title="Delivery" subtitle="This is the delivery page for an order"></app-title>


<!--the content of this page-->

<div #PopUp class="PopUp-Container  Hidden">
    <div class="Form-Container">
        <form role="form" [formGroup]="receiptForm" (submit)="submitDelivery()">
            <div class="Content">
                <h3>Enter delivery receipt no</h3>
                <input type="hidden" formControlName="transaction_id">
                <input type="text" placeholder="Receipt No" formControlName="receipt_no">
                <div>
                    <button class="btn btn-white-outline">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

<ng-container *ngIf="transaction">
    <div class="Container">
        <div class="Delivery-Container flex">
            <div class="Image">
                <img [src]="transaction.transaction_details[0].product.product_images[0].image" alt="">
            </div>
            <div class="Info">
                <div class="Product flex">
                    <div class="Product-Info">
                        <h3>Product</h3>
                        <p>{{ transaction.transaction_details[0].product.name }}</p>
                        <p>Transaction ID: INV-{{ transaction.id }}</p>
                    </div>
                    <div class="Receipt" *ngIf="!transaction.transaction_delivery.delivery_reciept">
                        <button class="btn btn-primary-outline" (click)="Appear()">ADD RECEIPT</button>
                    </div>
                </div>
                <div class="Users flex">
                    <!--<div class="Provider">
                        <h3>Provider</h3>
                        <p>Name : Kevin T</p>
                        <p>Address: Some City,Some street,some postal code, Some Address</p>
                    </div>-->
                    <div class="Customer">
                        <h3>Customer</h3>
                        <p>Name: {{ transaction.consumer.name }}</p>
                        <div class="customer-shipping-address">
                            <label>Address:</label>
                            <p>{{ transaction?.transaction_delivery.address.address }}</p>
                            <label>{{ transaction?.transaction_delivery.address.city + ', ' + transaction?.transaction_delivery.address.province }}</label>
                            <label>{{ transaction?.transaction_delivery.address.zipcode }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

