/*css for the 404 page*/


.Container{
    height:100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: red;
    color: white;
}
/* .page404Container{
        
}*/
.goBack{
    background-color:black;
    border: 1px solid #ced4da;
    padding: 0.8%;
    margin-top: 0.5%;
}

.goBack a {
    text-decoration: none;
    color: white;
}
