<!--the title of this page-->

<ng-container *ngIf="product">
    <app-title title="Product" subtitle="product name: {{product.name}}"></app-title>

 <!--the content of this page       -->

    <div class="Product-Container">
        <div class="Product flex">
            <div class="ProductImg"><img [src]="product.product_images[0].image" alt=" "></div>
            <div class="ProductDesc flex">
                <div class="ProductInfo">
                    <h2 class="Name">
                        {{product.name}}
                    </h2>
                    <div class="Review"></div>
                    <h2 class="Price flex">
                        {{ product.product_prices[0].product_price| currency:'IDR. ' }}<i class="far fa-caret-square-down"></i>

                    </h2>
                    <p class="Code">
                        Product Code:
                        <span class="Data">
                        prod-{{product.id}}
                    </span>
                    </p>
                    <p class="Availability">
                        Availability:
                        <span class="Data">{{product.stock}}</span>
                    </p>
                </div>
                <div class="Description">
                    <p class="Desc">
                        {{ product.description }}
                    </p>
                </div>
                <div class=" Status flex">
                    <div class="Stats flex">
                        <!--<h3>Qty</h3>
                        <div class="Quantity">1</div>-->
                        <div class="Add">
                            <button class="btn btn-primary-outline" (click)="addToCart()">
                                <i class="fas fa-cart-arrow-down"></i>
                                Rent
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<div class="Related-Container">
    <div class="Related-Product flex">
        <div class="Img-Container" *ngFor="let image of product?.product_images">
                <img [src]="image.image" alt="product-image">
        </div>
    </div>
</div>


