//the scss of the product list component

@import '../../../styles/variables';

.flex {
    display: flex;
}

.Product-Container {
    .Product {
        margin: 2% 15%;
        justify-content: center;

        .ProductImg {
            height: 400px;
            width: 50%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .ProductDesc {
            width: 50%;
            padding: 5px 35px 0;
            flex-direction: column;
                position:relative;

            .ProductInfo {
                border-bottom: 1px solid #DDBF5F;

                .Brand {
                    color: $gray-500;
                    font-size: 14px;
                    margin: 14px 0;

                    .Data {
                        color: $black;
                    }
                }

                .Name {
                    margin: 0 0 14px;
                    text-align: left;
                }

                .Price {
                    margin: 0 0 20px;
                    color: $gold;

                        i{
                                margin: 0 0 0 5px;
                        }

                }

                .Code {
                    color: $gray-500;
                    font-size: 14px;
                    margin: 25px 0;

                    .Data {
                        color: $black;
                    }
                }

                .Availability {
                    color: $gray-500;
                    font-size: 14px;
                    margin: 25px 0;

                    .Data {
                        color: $black;
                    }
                }
            }

            .Description {
                border-bottom: 1px solid #DDBF5F;

                .Desc {
                    color: $gray-500;
                    font-size: 14px;
                    word-wrap: normal;
                    line-height: 2;
                }
            }

            .Status {
                height: 30%;
                flex-direction: column;

                .Stats {
                    //height: 25%;
                    //justify-content: space-evenly;
                    padding-top: 5%;

                    h3 {
                        width: 23%;
                        text-align: center;
                    }

                    .Quantity {
                        height: 90%;
                        width: 20%;
                        border: 1px solid $gray-500;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .Add {
                        height: 90%;
                        width: 28%;
                        //border: 3px solid $red;
                        display: flex;
                        align-items: center;

                        img {
                            height: 30px;
                            width: 30px;
                        }

                        .Text {
                            color: $red;
                        }
                    }

                    .Love {
                        height: 90%;
                        width: 20%;
                        border: 1px solid $gray-500;
                    }

                }

                h3 {
                    height: 25%;
                    //text-align:center;
                    margin: 10px 0 0 0;
                }

                .Logo {
                    height: 25%;
                    width: 40%;

                    .Image {
                        width: 23%;
                        height: 100%;
                    }
                }

                .Tags {
                    height: 25%;

                    p {
                        color: $gray-500;
                        font-size: 14px;
                        margin: 25px 0;
                    }
                }

            }

        }

    }

}

.Bottom-Product-Container {
    margin: 50px 10%;

    .Product {
        margin: 0 -15px;
        justify-content: space-between;
        flex-flow: row wrap;

        .Product-Column {
            width: 25%;
            padding: 0 15px;

            .Product-Content {
                position: relative;
                overflow: hidden;
                height: 320px;
                box-shadow: 0 5px 20px rgba(0, 0, 0, .2);

                &:hover {
                    &:after {
                        background: rgba(0, 0, 0, .8);
                    }

                    .ProductAction {
                        .ProductActionItem {
                            transform: translateX(0);
                            opacity: 1;
                        }
                    }
                }

                &:after {
                    transition: all .35s ease;
                    content: ' ';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    //background: linear-gradient(to top, rgba(35, 35, 37, .9) 0%, rgba(35, 35, 37, .45) 35%, rgba(0, 0, 0, 0) 100%);
                    background: rgba(0, 0, 0, .4);
                }

                .ProductImage {
                    width: 100%;
                    height: 100%;
                }

                .ProductDesc {
                    position: absolute;
                    z-index: 9;
                    bottom: 20px;
                    left: 20px;
                    color: white;

                    .ProductName {
                        margin: 0;
                    }

                    .ProductPrice {
                        display: block;
                        color: $red;
                        font-size: 14px;
                        margin-top: 8px;
                    }
                }

                .ProductAction {
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    z-index: 9;

                    .ProductActionItem {
                        width: 32px;
                        height: 32px;
                        border: 1px solid white;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        margin-bottom: 14px;
                        transform: translateX(50px);
                        opacity: 0;
                        transition: all .2s ease;

                        &:nth-child(2) {
                            transition-delay: .075s;
                        }

                        i {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

.Review-Container {
    height: 400px;

    .Review {
        height: 100%;
        margin: 0 10%;
        display: flex;
        justify-content: center;
        align-items: center;

        .Text {
            white-space: pre;
        }
    }
}

.flex {
    display: flex
}

.BorderTop {
    border-top: 1px solid darkgrey;
}

.BorderBottom {
    border-bottom: 1px solid darkgrey;
}

.Related-Container {
    height: 150px;
    //background-color: black;
    margin-bottom: 5%;

    .Related-Product {
        margin: 0 15%;
        justify-content: space-between;

        //background-color: yellow;
        height: 100%;
        width: 35%;

        .Img-Container {
            height: 100%;
            width: 23%;

            img {
                height: 100%;
                width: 100%;
            }
        }

    }
}
