<!--used to display the nav bar in this page-->

<app-title title="Cart" subtitle="You can checkout your transaction here"></app-title>


<!--here is the content of the page-->


<ng-container *ngIf="product">
    <div class="Container">
        <div class="CartContainer">
            <div class="Title flex">
                <h3 class="Text">IMAGE</h3>
                <h3 class="Product">PRODUCT</h3>
                <h3 class="Text">PRICE</h3>
                <h3 class="Text">QUANTITY</h3>
                <h3 class="Text">TOTAL</h3>
                <h3 class="Text">REMOVE</h3>
            </div>
            <div class="Content flex">
                <div class=" Image">
                    <img [src]="product.product_images[0].image" alt="">
                </div>
                <div class="Product">
                    <h4>{{product.name}}</h4>
                </div>
                <div class="Price">
                    <h4>{{product.product_prices[0].product_price | currency:'IDR. '}}</h4>
                </div>
                <div class="Quantity flex">
                    <h4>1</h4>
                </div>
                <div class="Total">
                    <h4>{{product.product_prices[0].product_price | currency:'IDR. '}}</h4>
                </div>
                <div class="Remove flex">
                    <i class="fas fa-trash-alt fa-2x"></i>
                    <!--<img src="assets/Pictures/Remove.svg" alt="">-->
                </div>
            </div>
        </div>

        <div class="Shipping-Container flex">
            <div class="Shipping flex">
                <div class="Left">
                    <div class="Content">
                        <h2 class="Title">Shipping Address</h2>
                        <ng-container *ngIf="selectedAddress else noAddress">
                            <div class="shipping-address-container">
                                <p>
                                    {{ selectedAddress.address }}
                                </p>
                                <label>{{ selectedAddress.city + ', ' + selectedAddress.province }}</label>
                                <label>{{ selectedAddress.zipcode }}</label>
                            </div>
                        </ng-container>

                        <ng-template #noAddress>
                            <p class="Address">
                                You haven't chosen any shipping address
                            </p>
                        </ng-template>
                        <button class="btn-primary-outline btn" (click)="popUp()">
                            <ng-container *ngIf="selectedAddress else addAddress">
                                Use another address
                            </ng-container>

                            <ng-template #addAddress>
                                Enter Address
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>
            <div class="Summary">
                <div class="Info">
                    <div class="Title">
                        <h2>Cart Summary</h2>
                        <div class="Text">
                            <p>subtotal</p>
                            <p>{{product.product_prices[0].product_price | currency:'IDR. '}}</p>
                        </div>
                        <div class="Text BorderBottom">
                            <p>shipping cost</p>
                            <p>$00.00</p>
                        </div>
                        <div class="Text">
                            <h2>GRAND TOTAL</h2>
                            <h2>{{product.product_prices[0].product_price | currency:'IDR. '}}</h2>
                        </div>
                    </div>
                </div>
                <div class="Button-Container flex">
                    <button class="btn btn-primary" (click)="checkout()">
                        CHECKOUT
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<div #chooseAddress class="PopUp">
    <div class="PopUp-Container">
        <div (click)="closepopUp()" class="Close flex"><i class="fas fa-times"></i></div>

        <div class="form-container" [ngClass]="{'hide':choosingAddress}">
            <div class="flex">
                <div (click)="choosingAddress = true" class="back">
                    <i class="fas fa-arrow-left"></i>
                </div>

                <h2 class="Title">Input new shipping address</h2>
            </div>
            <form role="form" [formGroup]="addressForm" (submit)="submitAddress()">
                <div class="form-group">
                    <label class="control-label">Province</label>
                    <input type="text" class="form-control" formControlName="province">
                </div>

                <div class="form-group">
                    <label class="control-label">City</label>
                    <input type="text" class="form-control" formControlName="city">
                </div>

                <div class="form-group">
                    <label class="control-label">Address</label>
                    <textarea class="form-control" formControlName="address"></textarea>
                </div>

                <div class="form-group">
                    <label class="control-label">Zip Code</label>
                    <input type="text" class="form-control" formControlName="zipcode">
                </div>
                <div class="Submit flex">
                    <button class="btn btn-primary-outline" [disabled]="addressForm.invalid">Submit</button>
                </div>
            </form>
        </div>

        <div class="address-container" [ngClass]="{'hide':!choosingAddress}">
            <div class="flex">
                <h2 class="Title">Choose existing shipping address</h2>
            </div>

            <div class="address-list-container" *ngIf="addresses?.length > 0 else noAvailableAddress">
                <div class="address-list-wrapper"
                     *ngFor="let address of addresses"
                     [ngClass]="{'selected': address.id == selectedAddress.id}"
                     (click)="chooseNewAddress(address)"
                >
                    <p>
                        {{ address.address }}
                    </p>
                    <label>{{ address.city + ', ' + address.province }}</label>
                    <label>{{ address.zipcode }}</label>

                    <ng-container *ngIf="address.id == selectedAddress.id">
                        <div class="chosen">
                            <i class="fas fa-check-circle fa-2x"></i>
                        </div>
                    </ng-container>
                </div>
            </div>

            <ng-template #noAvailableAddress>
                <p>
                    You don't have any existing shipping address on our system.
                </p>
            </ng-template>

            <div>
                <button class="btn btn-primary" (click)="choosingAddress = false">
                    Add another address
                </button>
            </div>
        </div>
    </div>
</div>
